/* Luca CSS */

html {
    height: 100vh;
}

body {
    background-color: white;
    overflow-y: scroll;
    height: 100%;
}
/* Canvas contenente la grafica della croce per il menù a comparsa */
#myCanvas {
    position: fixed;
    z-index: 1;
    overflow: hidden;
    top: 5px;
    right: 5px;
    float: right;
    transition-duration: 0.8s;
    transition-property: transform;
}

#myCanvas:hover {
    cursor: pointer;
}

/* Container del canvas - parte superiore del menù a comparsa */
.animatedMenuTop {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.3);
    animation-duration: 0.7s;
    top: 0px;
    right: 0px;
    width: 200px;
    height: 60px;
    border-radius: 10px 0px 0px 0px;
}

/* Menù a comparsa */
.animatedMenu {
    position: fixed;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding-top: 15px;
    animation-duration: 0.7s;
    right: 0px;
    width: 200px;
    border-radius: 0px 0px 10px 10px;
}

.animatedMenu p {
    font-family: 'Segoe UI';
    font-size: larger;
}

.animatedMenu p:hover {
    cursor: pointer;
}

.animatedMenu p a {
    text-decoration: none;
    color: black;
}

#navbar {
    background-color: rgba(255, 255, 255, 0);
}

/* keyframes animazioni css */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes navbar-expand {
    from {
        background-color: rgba(255, 255, 255, 0);
    }
    to {
        background-color: rgba(255, 255, 255, 1);
    }
}


@keyframes navbar-collapse {
    from {
        background-color: rgba(255, 255, 255, 1);
    }
    to {
        background-color: rgba(255, 255, 255, 0);
    }
}

/*Davide CSS*/
/*Banner*/
/* Container holding the image and the text */

.card-columns {
    column-count: 3;
}
.menu .menu-content {
    margin-left: 85px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.menuino {
  display: flex;
  /* align-items: center; */

  /* Remove the next line if you want the span to appear next to the h1 */
  justify-content: space-between;

  /* border-bottom: 1px solid #000; */

}
