/* Luca CSS */

/* Canvas contenente la grafica della croce per il menù a comparsa */
#myCanvas {
    position: fixed;
    overflow: hidden;
    top: 5px;
    right: 5px;
    float: right;
    transition-duration: 0.8s;
    transition-property: transform;
}

#myCanvas:hover {
    cursor: pointer;
}

/* Container del canvas - parte superiore del menù a comparsa */
.animatedMenuTop {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.3);
    animation-duration: 0.7s;
    top: 0px;
    right: 0px;
    width: 200px;
    height: 60px;
    border-radius: 10px 0px 0px 0px;
}

/* Menù a comparsa */
.animatedMenu {
    position: fixed;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    top: 60px;
    animation-duration: 0.7s;
    right: 0px;
    width: 200px;
    border-radius: 0px 0px 10px 10px;
}   

.animatedMenu p {
    font-family: 'Segoe UI';
    font-size: larger;
}

.animatedMenu p:hover {
    cursor: pointer;
}

.animatedMenu p a {
    text-decoration: none;
    color: black;
}

/* keyframes animazioni css */
@keyframes myFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes myFadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/*Davide CSS*/
/*Banner*/
/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: green;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
