/* Luca CSS */

body {
    background-color: indianred;
}
/* Canvas contenente la grafica della croce per il menù a comparsa */
#myCanvas {
    position: fixed;
    z-index: 1;
    overflow: hidden;
    top: 5px;
    right: 5px;
    float: right;
    transition-duration: 0.8s;
    transition-property: transform;
}

#myCanvas:hover {
    cursor: pointer;
}

/* Container del canvas - parte superiore del menù a comparsa */
.animatedMenuTop {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.3);
    animation-duration: 0.7s;
    top: 0px;
    right: 0px;
    width: 200px;
    height: 60px;
    border-radius: 10px 0px 0px 0px;
}

/* Menù a comparsa */
.animatedMenu {
    position: fixed;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding-top: 15px;
    animation-duration: 0.7s;
    right: 0px;
    width: 200px;
    border-radius: 0px 0px 10px 10px;
}   

.animatedMenu p {
    font-family: 'Segoe UI';
    font-size: larger;
}

.animatedMenu p:hover {
    cursor: pointer;
}

.animatedMenu p a {
    text-decoration: none;
    color: black;
}

/* keyframes animazioni css */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes navbar-expand {
    from {
        background-color: transparent;
    }
    to {
        background-color: white;
    }
}


@keyframes navbar-collapse {
    from {
        background-color: white;
    }
    to {
        background-color: transparent;
    }
}

/*Davide CSS*/
/*Banner*/
/* Container holding the image and the text */
.jumbotron {

    background-image: url('./Assets/pizzaunesco(Large).png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
   }
